#cgu, #cgv, #poli {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 75px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 25px;
}

#illu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#illu_achat {
    align-items: center;
    width: 50%;
}
